#!/usr/bin/env python
PACKAGE = 'be2r_cmpc_unitree'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#list of parameters
gen.add('Kp0', int_t, 0, "proportional gain", 500, 0, 10000)
gen.add('Kp1', int_t, 0, "proportional gain", 500, 0, 10000)
gen.add('Kp2', int_t, 0, "proportional gain", 500, 0, 10000)
gen.add('Kd0', int_t, 0, "differential gain", 8, 0, 10000)
gen.add('Kd1', int_t, 0, "differential gain", 8, 0, 10000)
gen.add('Kd2', int_t, 0, "differential gain", 8, 0, 10000)

gen.add("WBC", bool_t, 0, "Use WBC",  True)

fsm_state_enum = gen.enum([ gen.const("Passive", int_t, 0, "Do nothing"),
                       gen.const("MPC_Locomotion", int_t, 4, "Main locomotion state"),
                       gen.const("Balace_Stand", int_t, 3, "Balance on 4 legs"),
                       gen.const("Stand_up", int_t, 1, "Stand up from groud"),
                       ],"Set finite state machine state")

gen.add("FSM_State", int_t, 0, "Set finite state machine state", 0, 0, 4, edit_method=fsm_state_enum)

#example
#gen.add("int_param",    int_t,    0, "An Integer parameter", 50,  0, 100)
#gen.add("double_param", double_t, 0, "A double parameter",    .5, 0,   1)
#gen.add("str_param",    str_t,    0, "A string parameter",  "Hello World")
#gen.add("bool_param",   bool_t,   0, "A Boolean parameter",  True)

exit(gen.generate(PACKAGE, "be2r_cmpc_unitree", "ros_dynamic_params"))
