<launch>
<!--Parameters-->
  <arg name="sim" default="true" />
  <arg name="rqt_reconfigure" default="true" />
  <arg name="rviz" default="false" />
  <arg name="torque_safe_limit" default="0"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find a1_description)/xacro/robot.xacro DEBUG:=false"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <group if="$(eval arg('sim') == true)">
    <node pkg="be2r_cmpc_unitree" type="unitree_ctrl" name="unitree_ctrl" output="screen">
      <param name="map_topic" value="/elevation_mapping/elevation_map"/>
      <param name="udp_connection" type="bool" value="0" />
      <param name="is_low_level" type="bool" value="0" />
      <param name="torque_safe_limit" type="bool" value="0" />
    </node>
  </group>

  <group if="$(eval arg('sim') == false)">
    <node pkg="be2r_cmpc_unitree" type="unitree_ctrl" name="unitree_ctrl" output="screen">
      <param name="map_topic" value="/elevation_mapping/elevation_map"/>
      <param name="torque_safe_limit" type="bool" value="0" />
      <param name="udp_connection" type="bool" value="1" />
      <param name="is_low_level" type="bool" value="1" />
    </node>
  </group>

  <include file="$(find be2r_cmpc_unitree)/launch/set_dyn_params.launch" />


  <group if="$(eval arg('rqt_reconfigure') == true)">
    <node name="be2r_rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
  </group>

  <group if="$(eval arg('rviz') == true)">
    <arg name="rvizconfig" default="$(find unitree_ros_driver)/rviz/unitree.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  </group>

</launch> 
