<launch>

  <rosparam command = "load" file = "$(find be2r_cmpc_unitree)/config/ros_config.yaml"/>

  <param name = "robot_description" command = "$(find xacro)/xacro --inorder '$(find raisim_unitree_ros_driver)/description/urdf/a1_edited.urdf' " />

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!--     <arg name="rvizconfig" default="$(find unitree_ros_driver)/rviz/unitree.rviz" />
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
   -->

  <node pkg="be2r_cmpc_unitree" type="unitree_ctrl" name="unitree_ctrl" output="screen">
    <param name="map_topic" value="/elevation_mapping/elevation_map"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="world_to_odom"
    args="0 0 0 0 0 0 world odom 100" />

</launch> 
